@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: bg-white;   /* pure white */
  color: #2C2C2C;        /* not pure black */
  font-feature-settings: "ss01" on;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

* {
  -webkit-tap-highlight-color: transparent;
}