@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #F3F3F3;   /* not pure white */
  color: #2C2C2C;        /* not pure black */
  font-feature-settings: "ss01" on;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

* {
  -webkit-tap-highlight-color: transparent;
}

.image-fade {
  -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 70%, rgba(0,0,0,0));
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 70%, rgba(0,0,0,0));
}